table, tr, td {
    border: 1px solid black;
}
table {
    background-color: aqua;
}
table {
    font-size: larger;
}
#img {
    padding: 200px;
    height: 300px;
    border-image-width: 20px;
}
h3 {
    font-size: 30px;
    font-style: italic;
}
h3 {
    border-bottom: double;
    padding: 200px;
}
button {
    padding: 20px;
   font-size: 30px;
   inline-size: 200px;
}
img {
    padding: 200px;
    height: 300px;
    inline-size: 20px;
    animation-play-state: paused;
}